# Server Configuration
PORT=3000
NODE_ENV=production
JWT_SECRET=yoursecretkeyhere

# Database Configuration (PostgreSQL)
DB_HOST=db
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=doctor_appointment
DB_PORT=5432

# Redis Configuration (BullMQ)
REDIS_HOST=redis
REDIS_PORT=6379

# Email Configuration (SMTP)
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=your_email_here
EMAIL_PASS=your_password_here
EMAIL_FROM="DocCare" <notifications@doccare.com>
